# =========================
# R / RStudio
# =========================

# History files
.Rhistory
.Rapp.history

# Session data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio / Positron project user files
.Rproj.user/

# Produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token
.httr-oauth

# knitr and R Markdown cache directories
*_cache/
/cache/

# Temporary files created by R Markdown
*.utf8.md
*.knit.md

# R environment variables
.Renviron

# RStudio Connect folder
rsconnect/

# =========================
# Quarto
# =========================
.quarto/
.quarto-cache/

# =========================
# renv
# =========================
renv/library/
renv/python/
renv/staging/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================
# Jupyter notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Editor files
# =========================
.vscode/
*.code-workspace

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets / local config
# =========================
.env
.env.*
*.pem
*.key
*.pdf


# Local machine-specific config files
config/local_paths.yml
config/local_*.yml

# =========================
# Project data
# Raw and processed data stay local
# =========================
data/DHS_boundaries/*
data/GADM36_boundaries/*
data/MICS_boundaries/*
data/PakistanWFP2024Boundaries_2/*
data/processed/*
data/features/*

# Keep placeholder files
!data/processed/.gitkeep
!data/DHS_boundaries/.gitkeep
!data/GADM36_boundaries/.gitkeep
!data/MICS_boundaries/.gitkeep
!data/PakistanWFP2024Boundaries_2/.gitkeep
!data/features/.gitkeep


# =========================
# Outputs
# =========================
outputs/01_matching_regions*
!outputs/01_matching_regions.gitkeep

outputs/02_boundary_files*
!outputs/02_boundary_files.gitkeep

outputs/03_sampled_features*
!outputs/03_sampled_features.gitkeep

# =========================
# Logs / temporary files
# =========================
*.log
*.tmp
*.temp
*~
